{% extends "base.html" %}
{% block content %}
<!-- Page Content -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <form id="formProposal" onsubmit="return formSubmit(event)" role="form" method="POST">
                <div class="form-group mb-3">
                    <label for="title">Title</label>
                    <input id="title" type="text" name="title" class="form-control" placeholder="Title" value="{{ headline }}">
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Target <small>(In BEAM)</small></label>
                            <input id="funds_target" type="text" name="funds_target" class="form-control" placeholder="Target"
                                   value="{{ funds_target }}" {% if funds_target %}disabled{% endif %}>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="category">Category</label>
                            <select class="form-control" id="category" name="category">
                                {% for cat in funding_categories %}
                                    <option
                                        value="{{ cat }}"
                                        {% if proposal and cat == proposal.category %}
                                            selected
                                        {% elif not proposal and cat == funding_categories[0] %}
                                            selected
                                        {% endif %}
                                    >
                                        {{ cat }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group mb-4">
                    <label>Receiving address for withdrawals <small>(BEAM address)</small></label>
                    <input id="addr_receiving" type="text" name="addr_receiving" class="form-control" placeholder="BEAM address"
                           value="{{ addr_receiving }}" {% if addr_receiving %}disabled{% endif %}>
                </div>
                <div class="form-group mb-4">
                    <label>Forum Topic Link</label>
                    <input id="discourse_topic_link" type="text" name="discourse_topic_link" class="form-control" placeholder="Link to the Beam Forum"
                           value="{% if proposal and proposal.discourse_topic_link %}{{ proposal.discourse_topic_link }}{% endif %}" >
                </div>
                <div class="form-group">
                    <label>Content</label>
                    <textarea id="content" class="textarea" name="markdown" placeholder="Place some text here" style="width: 100%; height: 600px; font-size: 14px; line-height: 18px; border: 1px solid rgb(221, 221, 221); padding: 10px;">
{% if content %}{{ content }}{% else %}{{ default_content }}{% endif %}
                    </textarea>
                </div>

                <div id="error"></div>

                <div class="form-group mb-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>

        <div class="col-md-6">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <div class="fw-semibold">Markdown?</div>
                Writing markdown is easy. Check out <a target="_blank" href="https://www.markdownguide.org/cheat-sheet/">this cheat-sheet</a> or <a target="_blank" href="https://www.markdowntutorial.com">this tutorial</a>.
                <button class="btn-close" type="button" data-coreui-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="card mb-4">
                <div class="card-header">Preview</div>
                <div class="card-body">
                    <p id="preview" class="card-text">
                    </p>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">Tips</div>
                <div class="card-body">
                    <ol>
                        <li>Proposals are written in Markdown format. Use the HTML preview functionality of the editor.</li>
                        <li>Introduce yourself, donators would like to know who they are funding.</li>
                        <li>Try to seek out community approval for your idea(s) before submitting a request.</li>
                        <li>Keep it short and clean.</li>
                        <li>Good luck!</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  var sel_form = document.getElementById('formProposal');
  var sel_preview = document.getElementById('preview');
  var sel_errors = document.getElementById('error');
  var url_markdown_to_html = "/lib/markdown/html";
  var api = "/api/proposals/upsert";
  const easyMDE = new EasyMDE({element: document.getElementById('content'), autofocus: true, forceSync: true});

  function formSubmit(ev) {
    let formData = new FormData(sel_form);
    let data = {
      "title": formData.get('title'),
      "pid": {% if proposal %}{{proposal.id}}{% else %}formData.get('pid'){% endif %},
      "funds_target": formData.get('funds_target'),
      "category": formData.get('category'),
      "status": formData.get('status'),
      "markdown": formData.get("markdown"),
      "slug": formData.get("slug"),
      "addr_receiving": formData.get('addr_receiving'),
      "discourse_topic_link": formData.get('discourse_topic_link')
    }

    let dti = formData.get('discourse_topic_id');
    if(dti !== "")
      data['discourse_topic_id'] = dti;

    data['funds_target'] = parseFloat(data['funds_target'])

    if(data['status'] != null) {
      data['status'] = parseInt(data['status']);
    }

    api_post(api, data).then((resp) => {
      window.location.href = resp['url'];
    }).catch(err => {
      if(typeof err === 'string') {
        sel_errors.innerHTML = `
        <div class="alert alert-danger" role="alert">
          ${err}
        </div>`;
      } else if (Array.isArray(err)) {
        let error_html = "";
        err.forEach(el => {
          error_html += `
          <div class="alert alert-danger" role="alert">
            ${el}
          </div>
          `;
        });
        sel_errors.innerHTML = error_html;
      } else {
        sel_errors.innerHTML = `
        <div class="alert alert-danger" role="alert">
          undefined error, check console.
        </div>`;
      }
      console.log(err);
    });

    return false;
  }

  let debounceTimer;
  const debounce = (callback, time) => {
    window.clearTimeout(debounceTimer);
    debounceTimer = window.setTimeout(callback, time);
  };

  const previewMarkdown = () => {
    var val = easyMDE.value();
    if(val === "" || val === undefined) return;

    api_post(url_markdown_to_html, {
      "markdown": val
    }).then(resp => {
      sel_preview.innerHTML = resp.html;
    })
    .catch(err => {
      console.log(err);
    });
  }

  easyMDE.codemirror.on("change", () => {
    debounce(previewMarkdown, 200);
  });

  previewMarkdown();
</script>


{% endblock %}