{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <h3>About</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <hr>
            <p>
                A simple funding system made with:
            </p>
            <ul>
                <li>Python</li>
                <li>Flask</li>
                <li>Postgres</li>
                <li>Redis</li>
            </ul>
            <p>
                We do not keep access logs or install tracking cookies. All static resources (javascript/stylesheets/images) are self-hosted.
            </p>
            <p>
                Contributed by:<br>
                <a target="_blank" href="https://t.me/vsnation">@vsnation</a>
            </p>

        </div>

    </div>

    <br>

</div>
<!-- /.container -->
{% endblock %}
