{% extends "base.html" %}
{% block content %}
<!--main-->
<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <div class="container-lg">
    <div class="row justify-content-center">

      <div class="col-lg-8">
        <div class="card-group d-block d-md-flex row">

          <div class="card col-md-7 p-4 mb-0">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <img alt="" class="mb-3" src="/static/firo-ecosystem.svg"/>
                </div>

                <div class="col-md-8">
                  <form method="POST" action="/register">
                    <h1>Register</h1>
                    <p class="text-medium-emphasis">Register a new account.</p>
                    <div class="input-group mb-3"><span class="input-group-text">
                        <svg class="icon">
                          <use xlink:href="/static/admin/vendors/@coreui/icons/svg/free.svg#cil-user"></use>
                        </svg></span>
                      <input type="text" id="username" name="username" class="form-control mb-2 mr-sm-2 mb-sm-0"
                           placeholder="Enter Username" value="{{ request.form.username }}"
                           required>
                    </div>
                    <div class="input-group mb-4"><span class="input-group-text">
                        <svg class="icon">
                          <use xlink:href="/static/admin/vendors/@coreui/icons/svg/free.svg#cil-lock-locked"></use>
                        </svg></span>
                      <input type="password" id="password" name="password" class="form-control mb-2 mr-sm-2 mb-sm-0"
                               placeholder="Enter Password" value="{{ request.form.password }}"
                       required>
                    </div>
                    <div class="input-group mb-3"><span class="input-group-text">
                        <svg class="icon">
                          <use xlink:href="/static/admin/vendors/@coreui/icons/svg/free.svg#cil-user"></use>
                        </svg></span>
                      <input type="email" id="email" name="email" class="form-control mb-2 mr-sm-2 mb-sm-0"
                               placeholder="Enter Email" value="{{ request.form.username }}"
                               required>
                    </div>
<!--                    <img class="mb-3" src="../../lib/captcha"/>-->
<!--                    <div class="input-group mb-3"><span class="input-group-text">-->
<!--                        <svg class="icon">-->
<!--                          <use xlink:href="/static/admin/vendors/@coreui/icons/svg/free.svg#cil-text"></use>-->
<!--                        </svg></span>-->
<!--                      <input class="form-control" name="captcha" type="captcha" placeholder="Captcha">-->
<!--                    </div>-->
                    <div class="row">
                      <div class="col-12">
                        <a href="index.html#">
                          <button class="btn float-end btn-dark px-4" type="submit">Register</button>
                        </a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<br>
<!--/main-->
{% endblock %}
