{% extends "base.html" %}
{% block content %}

{% if user %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <span class="form-text text-muted" style="margin-top: -2px;">
                Proposals made by '{{user.username}}'
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {% if user.proposals %}
                {% from 'proposal/macros/table.html' import proposal_table %}
                {{ proposal_table(title, status, user.proposals, FUNDING_STATUSES) }}
                {% else %}
                    This user has not submitted any proposals yet.
                {% endif %}
                <hr>
        </div>
    </div>
    <br>

</div>
{% else %}
No user found by that name.
{% endif %}
<!-- /.container -->
{% endblock %}
